.card {
	border: 1px solid #7e7e7e;
	border-radius: 12px;
    margin: 8px 14px;
	position: relative;
	padding: 14px 6px 0 10px;
}

.card span {
	color: rgb(43, 144, 226);
	text-shadow: 0.4px 0.4px 1.2px rgba(43, 144, 226, 0.63);
}

.card i {
	padding: 0 6px 0 18px;
	color: rgb(128, 128, 128);
}

