.card {
	border: 1px solid #7e7e7e;
	border-radius: 12px;
    margin: 8px 14px;
	position: relative;
	padding: 22px 6px 0 18px;
}

.card-item {
	padding: 16px 16px 0 16px;
}
.card span {
	color: rgb(43, 144, 226);
	text-shadow: 0.4px 0.4px 1.2px rgba(43, 144, 226, 0.63);
	padding-left: 4px;
	margin-top: 22px;
}

.card i {
	padding: 0 6px 0 2px;
	color: rgb(128, 128, 128);
}

.card-with-image {
	width: 720px;
	border: 1px solid grey;
	border-radius: 8px;
	margin-left: 20px;
	margin-top:10px;
}

.thumb-image img {
	width: 100%;
	border-radius: 8px 8px 0 0;
}

.card-content {
	padding: 20px;
}

.foot-content {
	margin-top: 16px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }