.container {
	margin-top: 30px;
	position: relative;
}

.container h1{
	color: rgb(235, 185, 152);
	font-size: 5rem;
}

.container p {
    color: rgb(255, 255, 255);
	font-size: 2.5rem;
}

.container .container-gradient {
	height: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 100%);
	background-repeat: repeat;
	background-position: center bottom ;
}

.container .first-layer {
	background-image: url('./images/racing-bike.jpg') ;
	background-size: cover;
	background-position: center;
}
