.container {
	margin-top: 30px;
	position: relative;
}

.container h1{
	color: rgb(255, 142, 142);
	font-size: 6rem;
	font-weight: 1000;
}

.container p {
    color: rgb(255, 255, 255);
	font-size: 2.5rem;
}

.container .container-gradient {
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 30%, rgba(255, 255, 255, 0) 100%);
	background-repeat: repeat;
	background-position: center bottom ;
}

.container .first-layer {
	background-image: url('./images/racing-bike.jpg') ;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	padding-top: 260px;
	padding-bottom: 60px;
}
