.explore-content {
	font-size: 2.5rem;
	margin-top: 50px;
	overflow: scroll;
}

.explore-content li {
	display: inline;
}

.explore-content a {
	border: 1px solid rgb(179, 179, 179);
	border-radius: 4px;
	padding: 8px 12px;
	margin: 4px 4px;
	background-color: azure;
}

.explore-home {
    position: relative;
    font-size: 1.5rem;
	margin: 4px 10px 4px 10px;
	word-wrap: break-word;
	padding-left: 20px;
}

.explore-home h2 {
	font-size: 2.5rem;
} 

.explore-home span, p {
	font-size: 2rem;
} 