.footer {
    background-color: #353e48;
    padding: 50px 70px 50px 120px;
}

.footer-item a,p {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.6;
}
.footer a {
    color: #757575 !important;
}
.footer i {
    font-size: 3.4rem;
    padding: 40px;
}

.footer-end {
    background-color: #32363b;
    border-top: 0.4px solid whitesmoke;
    padding: 20px 20px 40px 20px;
    line-height: 1.5;
    font-size: 1rem !important;
}