.hold-phone {
    margin-top: 50px;
    height: 600px;
    background-image: url("/images/hand-holding-smartphone-with-blank-screen_1232-1091.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  