.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 12px;
	position: relative;
}

.header .logo {
	color: #f13a59;
	padding: 12px 16px;
}

.header .register {
	font-size: 3rem;
	padding: 18px 24px;
}